* {
    padding: 0;
    margin: 0;
}

body {
    color: #303030;
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
    font-size: 21px;
    line-height: 1.5;
    

}

header {
    background-color: steelblue;
    height: 200px;
}

h1 {
    text-align: center;
    padding-top: 100px; 
} 
footer {
    text-align: right;
    clear: both;

}

main {
    margin: 2% 8% 2% 8%;
}
p {
    margin: 2%;
}
ul {
    padding-left: 8%;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    position: fixed;
    background-color: steelblue;
    float: none;
    width: 100%;
    height: fit-content;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #303030;
    color: white;
}