* {
    padding: 0;
    margin: 0;
}

body {
    color: #cecece;
    background-color: #202020;
    font-family: Roboto, Arial, sans-serif;
    font-size: 115%;
    line-height: 1.5;
}

header {
    height: 200px;
    background-color: #161616;
}

h1 {
    text-align: center;
    padding-top: 100px; 
    font-family: Roboto Mono;
} 

footer {
    text-align: center;
    clear: both;
}

main {
    margin: 2% 8% 2% 8%;
    padding: 20px;
    background-color: #252525;
    border-radius: 10px;
}

main img {
    float: right;
    margin: 1%;
}

main p {
    margin: 2%;
    flex: auto;
    padding: 20px;
    text-align: left;
}

ul {
    padding-left: 8%;
}

/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    position: fixed;
    background-color: #161616;
    float: none;
    width: 100%;
    height: fit-content;
}
  
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #cecece;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #cecece;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #303030;
    color: #cecece;
}